* {
  margin: 0;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: clamp(0.85rem, 0.9vw, 1rem);
  box-sizing: border-box;
  line-height: 1.5em;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: whitesmoke;
}

.navbar {
  position: sticky;
  display: block;
  box-sizing: content-box;
  text-align: left;
  padding: 5px;
  top: 0;
  padding-left: 10vw;
  background-color: #6bc9b3;
  font-weight: bold;
  height: 5vh;
  min-height: 40px;
  z-index: 10;
}

.navbar a:hover {
  background-color: #73d9c1;
}

.navbutton {
  font-size: 24px;
  display: inline-block;
  height: 4.9vh;
  min-height: 38.75px;
  line-height: max(4.8vh, 38.75px);
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  text-align: center;
}
.navbutton:not(.active) {
  text-decoration: none;
}

.active {
  background-color: #5ead9b;
  text-decoration-line: underline;
}

.bottom {
  bottom: 0;
  width: 100vw;
  margin-top: auto;
  min-height: 140px;
  height: 12vh;
  padding-left: 15vw;
  background-color: #6bc9b3;
  display: flex;
  padding-bottom: 15px;
}

.bottom p,
.bottom a {
  font-weight: bold;
  line-height: 1rem;
  font-size: min(0.9rem, 16px);
  display: inline-block;
  align-self: flex-end;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
  margin-right: 10px;
}

.normallist li {
  display: list-item;
  list-style: disc;
  padding-left: 10px;
  margin-left: 1.5rem;
}

.projects,
.navbar,
.bottom,
.gridproject {
  box-shadow: 0px 1px 1px 1px lightgray;
}

button {
  margin-top: 15px;
  background-color: #6bc9b3;
  padding: 6px 12px 6px 12px;
  letter-spacing: 1px;
  cursor: pointer;
  border: 1px solid black;
}

button:hover {
  background-color: #73d9c1;
  text-decoration-line: underline;
}

.gridwrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  justify-content: center;
  height: auto;
  margin-bottom: 5vh;
}

.projects {
  background-color: #6bc9b3;
}

.griditem {
  box-sizing: content-box;
  justify-content: center;
  width: 15vw;
  min-width: 400px;
  padding: 2vw;
  display: block;
}

#logo {
  box-sizing: content-box;
  width: 20%;
  padding: 15px;
}

#logos {
  margin-left: 50px;
  margin-top: 20px;
}
#photo {
  width: 80%;
  border-radius: 50%;
  animation: fadein 1s;
}

.gridproject {
  border: solid 3px #6bc9b3;
  width: 400px;
  height: 400px;
  text-align: center;
  cursor: pointer;
  overflow: hidden;
  user-select: none;
  position: relative;
  background-color: white;
}
.gridproject p {
  position: absolute;
  bottom: 10px;
  width: 400px;
  font-size: clamp(1rem, 2vw, 1.5rem);
  padding-top: 10px;
  color: whitesmoke;
}

.gridproject img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: monospace;
  font-size: clamp(1.1rem, 2vw, 1.4rem);
}

#title {
  margin-top: 25px;
  display: none;
  text-align: center;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
}

#popup {
  display: none;
  padding: 25px;
  width: 100vw;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  animation: fadein 1s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#popup p {
  width: 35vw;
  min-width: 400px;
  background-color: white;
  padding: 25px;
  height: 55vh;
  margin: 1vh;
  min-height: 550px;
}

#popup img {
  /* width: 30vw;
  min-width: 400px; */
  height: 55vh;
  min-height: 550px;
  width: auto;
  margin: 1vh;
}

#popup video {
  width: 57vw;
  min-width: 400px;
  margin: 1vh;
}

#closepopup {
  display: none;
  position: fixed;
  top: max(7vh, 60px);
  right: 1vw;
  text-align: center;
  /* using vw for both, so its a square */
  width: 3vw;
  height: 3vw;
  min-width: 40px;
  min-height: 40px;
  font-size: clamp(2rem, 2vw, 3rem);
  user-select: none;
  cursor: pointer;
  background-color: whitesmoke;
  border: 2px solid #6bc9b3;
  z-index: 5;
  justify-content: center;
  align-items: center;
}

#closepopup:hover {
  background-color: rgb(226, 226, 226);
  font-weight: bold;
}

video {
  display: block;
  width: 98%;
}
