* {
  margin: 0;
  font-family: Verdana, Tahoma, sans-serif;
  font-size: clamp(0.9rem, 1vw, 1.1rem);
  box-sizing: border-box;
  line-height: 1.5em;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  position: sticky;
  display: block;
  box-sizing: content-box;
  text-align: left;
  padding: 5px;
  top: 0;
  padding-left: 10vw;
  background-color: #56c5b6;
  font-weight: bold;
  height: 5vh;
  min-height: 40px;
}

.navbar a:hover {
  background-color: #439c90;
}

.navbutton {
  font-size: 24px;
  display: inline-block;
  height: 4.9vh;
  min-height: 38.75px;
  line-height: max(2.9vw, 38.75px);
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  text-align: center;
}
.navbutton:not(.active) {
  text-decoration: none;
}

.active {
  background-color: #47a598;
  text-decoration-line: underline;
}

.bottom {
  bottom: 0;
  width: 100vw;
  margin-top: auto;
  min-height: 120px;
  height: 12vh;
  padding-left: 15vw;
  background-color: #56c5b6;
  display: flex;
  padding-bottom: 15px;
}

.bottom p,
.bottom a {
  font-weight: normal;
  line-height: 1rem;
  font-size: min(1rem, 16px);
  display: inline-block;
  align-self: flex-end;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
  margin-right: 10px;
}

button {
  margin-top: 15px;
  background-color: rgb(241, 241, 241);
  padding: 6px 12px 6px 12px;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
  box-shadow: 1px 1px 3px lightgray;
}

button:hover {
  background-color: rgb(228, 228, 228);
  text-decoration-line: underline;
}

.gridwrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  justify-content: center;
  height: auto;
}

.griditem {
  background-color: white;
  box-sizing: content-box;
  justify-content: center;
  width: 25vw;
  min-width: 400px;
  padding: 2vw;
  display: block;
}

#logo {
  width: 15%;
  padding: 5px;
}
#photo {
  width: 80%;
  border-radius: 50%;
}

.gridproject {
  border: solid 5px lightgray;
  width: 400px;
  height: 400px;
  padding: 20px;
  text-align: center;
  font-size: clamp(1rem, 2vw, 1.5rem);
  overflow: auto;
  cursor: pointer;
  user-select: none;
}

h1 {
  font-family: monospace;
  font-size: clamp(1.1rem, 2vw, 1.4rem);
}

#title {
  margin-top: 25px;
  display: none;
  text-align: center;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
}

#popup {
  display: none;
  padding: 25px;
  width: 100vw;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
}

#popup p {
  width: 30vw;
  min-width: 400px;
  margin-right: 1vw;
}

#popup img {
  width: 30vw;
  min-width: 400px;
  height: auto;
}

#popup video {
  width: 61vw;
  min-width: 400px;
  margin-top: 1vh;
}

#closepopup {
  display: none;
  position: fixed;
  top: min();
  right: 1vw;
  text-align: center;
  line-height: 3vw;
  /* using vw for both, so its a square */
  width: 3vw;
  height: 3vw;
  min-width: 40px;
  min-height: 40px;
  font-size: clamp(2rem, 2vw, 3rem);
  user-select: none;
  cursor: pointer;
  background-color: white;
  border: 2px solid rgb(211, 211, 211);
  z-index: 5;
}

#closepopup:hover {
  background-color: rgb(243, 243, 243);
}

video {
  display: block;
  width: 98%;
}
