* {
  margin: 0;
  font-family: sans-serif;
  font-size: clamp(1rem, 1vw, 2rem);
}

.navbar {
  position: sticky;
  display: block;
  text-align: left;
  padding: 5px;
  padding-left: 10vw;
  background-color: lightblue;
  font-weight: bold;
  height: 4vw;
  min-height: 50px;
}

.navbar .navbutton {
  font-size: 24px;
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  height: 3.9vw;
  min-height: 48.75px;
  line-height: max(3.9vw, 48.75px);
  padding-left: 20px;
  padding-right: 20px;
  color: black;
  text-align: center;
}

.bottom {
  position: absolute;
  box-sizing: border-box;
  width: 100vw;
  bottom: 0;
  height: 10vw;
  min-height: 150px;
  padding-top: min(1vw, 10px);
  padding-left: 15vw;
  background-color: lightblue;
}

.bottom p {
  font-weight: bold;
  font-size: clamp(1rem, 1vw, 2rem);
}

.navbar a:hover {
  background-color: #72cedf;
}

.active {
  background-color: #4fc8dd;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
  margin-right: 10px;
}

.centergrid {
  display: grid;
  place-items: center;
}

.textbox {
  background-color: white;
  justify-content: center;
  border: 2px solid lightgray;
  width: 60vw;
  min-width: 600px;
  padding: 1vw;
  display: block;
}

.button {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 5px;
  background-color: white;
  border: none;
  padding: 12px;
  border-radius: 5px;
  letter-spacing: 1px;
  cursor: pointer;
  border: 1px solid black;
}

.button:hover {
  background-color: lightgray;
}

.gridwrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  justify-content: flex-start;
  height: auto;
}

.grid {
  border: solid 5px lightgray;
  width: 300px;
  height: 400px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  font-size: clamp(1rem, 2.5vw, 2rem);
  overflow: auto;
  cursor: pointer;
  user-select: none;
}

#popup {
  position: absolute;
  visibility: hidden;
  display: grid;
  box-sizing: content-box;
  left: 0;
  top: max(4vw, 50px);
  width: 100vw;
  height: max(96vw, calc(100vw-50px));
  background-color: white;
  grid-template-columns: repeat(2, 50%);
}

#popup img {
  display: block;
  max-width: 50%;
  max-height: 100%;
  width: auto;
  height: auto;
}

#closepopup {
  visibility: hidden;
  position: absolute;
  display: block;
  box-sizing: border-box;
  right: 1vw;
  text-align: center;
  padding: 0 15px;
  font-size: 48px;
  user-select: none;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgb(245, 245, 245);
  z-index: 2;
}

#closepopup:hover {
  background-color: rgb(243, 243, 243);
}

video {
  display: block;
  box-sizing: border-box;
  width: 100%;
  margin-right: 1vw;
}

img {
  width: 100%;
  margin: 1vw;
}
