body {
  margin: 0;
  font-family: sans-serif;
}

.navbar {
  position: sticky;
  display: block;
  margin: 0;
  text-align: left;
  padding: 5px;
  padding-left: 10vw;
  background-color: lightblue;
  font-weight: bold;
}

.navbar a {
  margin: 0;
  font-size: 24px;
  display: inline-block;
  box-sizing: border-box;
  padding: 25px;
  text-decoration: none;
  color: black;
}

.navbar a:hover {
  background-color: #72cedf;
}

.active {
  background-color: #4fc8dd;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  display: inline;
  margin-right: 10px;
}

.textbox {
  background-color: #eeeeee;
  width: 60vw;
  margin-left: 20vw;
  padding: 1vw;
  display: block;
  font-size: 24px;
}

.button {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 5px;
  background-color: white;
  border: none;
  padding: 12px;
  font-size: 18px;
  border-radius: 5px;
  letter-spacing: 1px;
}

.button:hover {
  background-color: lightgray;
}

.button:active {
  background-color: #eeeeee;
  box-shadow: inset 0px 0px 0px 1px black;
}

.gridwrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.grid {
  border: solid 5px lightgray;
  width: 300px;
  height: 400px;
  padding: 20px;
  text-align: center;
  box-sizing: border-box;
  font-size: clamp(1rem, 2.5vw, 2rem);
  overflow: auto;
}
